@page "/events"
@using Odasoft.XBOL.AdminPortal.Extensions
@using Odasoft.XBOL.Business
@inject IStringLocalizer<Events> L
@inject IEventService EventService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<PageTitle>@L["PageTitle"]</PageTitle>

<MudCard Class="mt-4 mb-6" Elevation="3">
    <MudCardHeader>
        <!-- Table header -->
        <CardHeaderContent>
            <MudGrid Class="align-center">
                <MudItem xs="12" sm="6" lg="8">
                    <MudText Class="pl-lg-4" Typo="Typo.h5">@L["PageTitle"]</MudText>
                </MudItem>
                <MudItem xs="12" sm="6" lg="4">
                    <MudStack Row AlignItems="AlignItems.Center">
                        <!-- Search field -->
                        <MudTextField @bind-Value="searchString"
                            @bind-Value:after="@(() => _dataGrid.ReloadServerData())" Placeholder="@L["Search"]"
                            Adornment="Adornment.Start" Immediate="true" Variant="Variant.Outlined"
                            AdornmentAriaLabel="@L["Search"]" AdornmentIcon="@Icons.Material.Filled.Search"
                            IconSize="Size.Medium" Margin="Margin.Dense" Typo="Typo.body2" Class="flex-grow-1" />

                        <!-- Venue multi-select -->
                        <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                            <ActivatorContent>
                                <MudIconButton Icon="@Icons.Material.Outlined.FilterAlt"
                                    Color="@(_filters.HasAnyFilter() ? Color.Primary : Color.Default)" />
                            </ActivatorContent>
                            <ChildContent>
                                <MudStack Spacing="3" Class="pa-4" Style="width:375px">
                                    <!-- Venue multi-select -->
                                    <MudSelect T="string" Label="@L["FilterVenue"]" MultiSelection="true"
                                        Margin="Margin.Dense" @bind-SelectedValues="_selectedVenues"
                                        Variant="Variant.Outlined" ShrinkLabel>
                                        @foreach (var venue in _venues)
                                        {
                                            <MudSelectItem T="string" Value="@venue.Name">
                                                <MudText Typo="Typo.body2">@venue.Name</MudText>
                                            </MudSelectItem>
                                        }
                                    </MudSelect>

                                    <!-- Event Category multi-select -->
                                    <MudSelect T="string" Label="@L["FilterCategory"]" MultiSelection="true"
                                        Margin="Margin.Dense" @bind-SelectedValues="_selectedCategories"
                                        Variant="Variant.Outlined" ShrinkLabel>
                                        @foreach (var category in _availableCategories)
                                        {
                                            <MudSelectItem T="string" Value="@category">
                                                <MudText Typo="Typo.body2">@category</MudText>
                                            </MudSelectItem>
                                        }
                                    </MudSelect>

                                    <!-- Date picker -->
                                    <MudDateRangePicker @bind-DateRange="_dateRange" Label="@L["FilterDateRange"]"
                                        Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel
                                        PlaceholderStart="DD/MM/AAAA" PlaceholderEnd="DD/MM/AAAA" />

                                    <MudStack Row Justify="Justify.SpaceBetween" Spacing="2" Class="mt-2">
                                        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Reorder"
                                            Class="mud-no-activator" OnClick="ClearFilters">
                                            @L["FilterClear"]
                                        </MudButton>
                                        <MudButton Variant="Variant.Filled" Color="Color.Tertiary"
                                            StartIcon="@Icons.Material.Filled.Search" OnClick="ApplyFilters">
                                            @L["FilterApply"]
                                        </MudButton>
                                    </MudStack>
                                </MudStack>
                            </ChildContent>
                        </MudMenu>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </CardHeaderContent>
    </MudCardHeader>

    <!-- Table content -->
    <MudCardContent Class="pa-0">
        <MudDataGrid T="EventViewModel" @ref="_dataGrid" ServerData="ServerReload" Loading="_loading" Filterable="true"
            FilterMode="DataGridFilterMode.Simple" Hover="true" Elevation="0">
            <Columns>
                <PropertyColumn Property="x => x.DateTime" Sortable="true" Filterable="false"
                    InitialDirection="SortDirection.Descending">
                    <HeaderTemplate>
                        <span Class="pl-lg-4">
                            @L["ColumnDateTime"]
                        </span>
                    </HeaderTemplate>
                    <CellTemplate>
                        <MudText Typo="Typo.body2" Class="pl-lg-4">@context.Item.DateTime</MudText>
                    </CellTemplate>
                </PropertyColumn>

                <TemplateColumn Title="@L["ColumnEventName"]" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudText Typo="Typo.subtitle2">
                            <MudHighlighter Text="@context.Item.EventName" HighlightedText="@searchString" />
                        </MudText>

                        <MudText Typo="Typo.caption" Color="Color.Primary">
                            @context.Item.Venue
                        </MudText>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@L["ColumnCategory"]" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudText Typo="Typo.body2">
                            @context.Item.Category
                        </MudText>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@L["ColumnAvailability"]" Filterable="false" Sortable="false">
                    <CellTemplate>
                        <div class="d-flex">
                            <MudText Typo="Typo.body2" Color="Color.Tertiary">
                                <strong>@context.Item.Available</strong>
                            </MudText>
                            <MudText Typo="Typo.body2" Style="padding: 0 2px; color: var(--mud-palette-text-disabled);">
                                /
                            </MudText>
                            <MudText Typo="Typo.body2" Style="color: var(--mud-palette-text-disabled);">
                                @context.Item.Total
                            </MudText>
                        </div>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@L["ColumnActions"]" Filterable="false" Sortable="false">
                    <CellTemplate>
                        <MudStack Row Spacing="2">
                            <MudTooltip Text="@L["ActionBoletos"]" Placement="Placement.Top">
                                <MudIconButton Icon="@Icons.Material.Outlined.ShoppingCart" Size="Size.Medium"
                                    OnClick="@(() => Navigation.NavigateTo($"/events/{context.Item.Id}/seats"))" />
                            </MudTooltip>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="EventViewModel" />
            </PagerContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>

@code {
    private bool _loading;
    private string searchString = "";
    private MudDataGrid<EventViewModel> _dataGrid = default!;

    private EventFilterParameters _filters = EventFilterParameters.Empty;

    private List<VenueListItem> _venues = [];
    private IEnumerable<string> _selectedVenues = new HashSet<string>();

    private List<string> _availableCategories = [];
    private IEnumerable<string> _selectedCategories = new HashSet<string>();

    private DateRange? _dateRange = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _venues = await EventService.GetVenuesAsync();
            _availableCategories = await EventService.GetCategoriesAsync();
        }
        catch (Exception)
        {
            Snackbar.Add(L["ErrorLoadingFilters"], Severity.Error);
        }
    }

    private async Task<GridData<EventViewModel>> ServerReload(GridState<EventViewModel> state)
    {
        _loading = true;
        try
        {
            return await FetchFromServer(state);
        }
        catch (Exception)
        {
            Snackbar.Add(L["ErrorLoadingEvents"], Severity.Error);
            return new GridData<EventViewModel> { TotalItems = 0, Items = [] };
        }
        finally
        {
            _loading = false;
        }
    }

    private bool HasSearchFilter() => !string.IsNullOrWhiteSpace(searchString);

    private async Task<GridData<EventViewModel>> FetchFromServer(GridState<EventViewModel> state)
    {
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        var result = await EventService.GetEventsAsync(
            state.Page,
            state.PageSize,
            sortDefinition?.SortBy,
            sortDefinition?.Descending ?? false,
            searchString,
            _filters.HasAnyFilter() ? _filters : null);

        return result;
    }

    private async Task ApplyFilters()
    {
        _filters = new EventFilterParameters(
        _selectedVenues.ToList(),
        _selectedCategories.ToList(),
        _dateRange?.Start,
        _dateRange?.End
        );

        await _dataGrid.ReloadServerData();
    }

    private async Task ClearFilters()
    {
        _selectedVenues = new HashSet<string>();
        _selectedCategories = new HashSet<string>();
        _dateRange = null;
        _filters = EventFilterParameters.Empty;

        await _dataGrid.ReloadServerData();
    }

}
