@using FluentValidation;
@using Odasoft.XBOL.AdminPortal.States;
@using Odasoft.XBOL.Business;
@using Odasoft.XBOL.Business.Services;
@using Odasoft.XBOL.Common.Constants;
@using Odasoft.XBOL.Common.Helpers

@implements IAsyncDisposable;

@inject CartState _cartState;
@inject IAdminClient _adminClient;
@inject NavigationManager _navigation;
@inject AppLocalizer<Events> L;
@inject ISnackbar _snackbar;
@inject LoadingState _loadingState;
@inject IDialogService _dialogService;
@inject ClientsService _clientsService;
@inject CatalogsService _catalogsService;

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigationAsync" ConfirmExternalNavigation="true" />

<MudForm @ref="_form" Model="_request" @bind-IsValid="_isValid" @bind-IsTouched="_isTouched" Validation="@(orderValidator.ValidateValue)">
    <MudGrid Justify="Justify.SpaceBetween">
        <MudItem xs="12" Class="d-flex justify-space-between">
            <MudText Typo="Typo.h5">@L["PaymentMethod"]</MudText>
            <MudButton OnClick="ReturnAsync" StartIcon="@Icons.Material.Outlined.ArrowBackIosNew">@L["Seats"]</MudButton>
        </MudItem>

        <MudItem xs="3">
            <MudGrid>
                <MudItem xs="6">
                    <MudSelect Label="@(L["AreaCode"] + "*")"
                               Variant="Variant.Outlined"
                               Margin="Margin.Dense"
                               @bind-Value="_request.PhoneRegionCodeId"
                               For="@(() => _request.PhoneRegionCodeId)">

                        @foreach (var regionCode in _phoneRegionCodes)
                        {
                            <MudSelectItem T="long?" Value="regionCode.Id">
                                <MudImage Src="@FlagHelper.GetFlagImageUrl(regionCode.RegionCode ?? "")" Height="15" Elevation="1" ObjectFit="ObjectFit.Fill" /> @($"+{regionCode.DialCode}")
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField Label="@(L["Phone"] + "*")"
                                  @bind-Value="_request.PhoneNumber"
                                  For="@(() => _request.PhoneNumber)"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  MaxLength="10"
                                  OnBlur="SearchOnBlurAsync"
                                  InputType="InputType.Telephone" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="@(L["Email"] + "*")"
                                  Variant="Variant.Outlined"
                                  @bind-Value="_request.Email"
                                  For="@(() => _request.Email)"
                                  Margin="Margin.Dense"
                                  Immediate="true"
                                  OnBlur="SearchOnBlurAsync"
                                  InputType="InputType.Email" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="_request.FullName"
                                  For="@(() => _request.FullName)"
                                  Label="@(L["BuyerFullName"] + "*")"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Immediate="true" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField @bind-Value="_request.City"
                                  For="@(() => _request.City)"
                                  Label="@L["City"]"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Immediate="true" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField @bind-Value="_request.Neighborhood"
                                  For="@(() => _request.Neighborhood)"
                                  Label="@L["Neighborhood"]"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Immediate="true" />
                </MudItem>
                <MudItem xs="12">
                    <MudSelect @bind-Value="_request.Gender"
                               For="@(() => _request.Gender)"
                               Label="@L["Gender"]"
                               Variant="Variant.Outlined"
                               Margin="Margin.Dense"
                               Placeholder="Sin especificar"
                               Immediate="true"
                               ShrinkLabel>
                        <MudSelectItem Value="@("Femenino")">Femenino</MudSelectItem>
                        <MudSelectItem Value="@("Masculino")">Masculino</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudSelect @bind-Value="TicketType"
                               For="@(() => TicketType)"
                               Label="Tipo de entrada*"
                               Variant="Variant.Outlined"
                               Margin="Margin.Dense"
                               Immediate="true">
                        <MudSelectItem Value="@("Boleto")">Boleto</MudSelectItem>
                        <MudSelectItem Value="@("Cortesía")">Cortesía</MudSelectItem>
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="4">
            <OrderSummary AllowRemoval="false"></OrderSummary>
        </MudItem>
        <MudItem xs="4">
            <MudGrid>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudNumericField @bind-Value="_request.CardAmount"
                                     For="@(() => _request.CardAmount)"
                                     Format="N2"
                                     Label="@L["Card"]"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                     Margin="Margin.Dense"
                                     Placeholder="0.00"
                                     HideSpinButtons="true"
                                     Disabled="IsFreeTicket"
                                     Immediate="false" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllCardAsync" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudNumericField @bind-Value="_request.CashAmount"
                                     For="@(() => _request.CashAmount)"
                                     Format="N2"
                                     Label="@L["Cash"]"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                     Margin="Margin.Dense"
                                     Placeholder="0.00"
                                     HideSpinButtons="true"
                                     Disabled="IsFreeTicket"
                                     Immediate="false" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllCashAsync" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudNumericField @bind-Value="_request.DolarAmount"
                                     For="@(() => _request.DolarAmount)"
                                     Format="N2"
                                     Label="@L["Dollars"]"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                     Margin="Margin.Dense"
                                     Placeholder="0.00"
                                     HideSpinButtons="true"
                                     Disabled="IsFreeTicket"
                                     Immediate="false" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllDolar" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudNumericField @bind-Value="_request.CreditAmount"
                                     For="@(() => _request.CreditAmount)"
                                     Format="N2"
                                     Label="@L["Credit"]"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                     Margin="Margin.Dense"
                                     Placeholder="0.00"
                                     HideSpinButtons="true"
                                     Disabled="IsFreeTicket"
                                     Immediate="false" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllCreditAsync" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudNumericField @bind-Value="_request.OtherAmount"
                                     For="@(() => _request.OtherAmount)"
                                     Format="N2"
                                     Label="@L["OtherPaymentMethod"]"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                     Margin="Margin.Dense"
                                     Placeholder="0.00"
                                     HideSpinButtons="true"
                                     Disabled="IsFreeTicket"
                                     Immediate="false" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllOtherAsync" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12">
                    <div class="order-summary">
                        <div class="d-flex justify-space-between summary-item summary-received">
                            <MudText Typo="Typo.body2">Recibido</MudText>
                            <MudText Typo="Typo.subtitle2">@TotalPay.ToString(FormatConstants.CURRENCY)</MudText>
                        </div>

                        <div class="d-flex justify-space-between summary-item summary-change">
                            <MudText Typo="Typo.caption">@(IsFreeTicket ? "Cortesía" : PendingPay < 0 ? "Cambio" : "Pendiente")</MudText>
                            <MudText Typo="Typo.caption" Color="PendingPayColor">@FormattedPendingPay</MudText>
                        </div>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <MudRadioGroup @bind-Value="_request.DeliveryType" For="@(() => _request.DeliveryType)">
                        <MudGrid Justify="Justify.SpaceBetween">
                            <MudItem xs="12" lg="6">
                                <MudRadio Value="@("Impreso")" Color="Color.Primary" UncheckedColor="Color.Secondary">
                                    <MudStack Row AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Material.Filled.Print" Title="Favorite" />
                                        <MudText Typo="Typo.body1">@L["PrintTicket"]</MudText>
                                    </MudStack>
                                </MudRadio>
                            </MudItem>
                            <MudItem xs="12" lg="6">
                                <MudRadio Value="@("Digital")" Color="Color.Primary" UncheckedColor="Color.Secondary">
                                    <MudStack Row AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Material.Filled.Send" Title="Favorite" />
                                        <MudText Typo="Typo.body1">@L["DigitalTicket"]</MudText>
                                    </MudStack>
                                </MudRadio>
                            </MudItem>
                        </MudGrid>
                    </MudRadioGroup>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-end">
                    <MudSwitch @bind-Value="_request.AcceptTermsAndConditions" For="@(() => _request.AcceptTermsAndConditions)" UncheckedColor="Color.Secondary" Color="Color.Primary">
                        <MudText Typo="Typo.subtitle2" Color="Color.Secondary">@L["AcceptTermsAndConditions"]</MudText>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-end">
                    <MudButton Variant="Variant.Filled"
                               DropShadow="false"
                               StartIcon="@Icons.Material.Outlined.Save"
                               Color="Color.Tertiary"
                               Disabled="@SubmitDisabled"
                               @onclick="SubmitAsync">@(_isSubmitting? L["Processing"] + "..." : L["Pay"])</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudForm>

@code {
    // TODO: Enable submit button only when form is valid

    [EditorRequired]
    [Parameter]
    public string EventKey { get; set; }
    [Parameter]
    public EventCallback OnReturn { get; set; }

    MudForm _form;

    private bool _isValid = false;
    private bool _isTouched = false;
    private bool _isSubmitting = false;
    private bool _successfulPurchase = false;

    private string? _ticketType = "Boleto";

    public string? TicketType
    {
        get
        {
            return _ticketType;
        }
        set
        {
            _ticketType = value;
            _request.TicketType = value;

            if (value == "Cortesía")
            {
                ClearAmountsAsync();
            }

            StateHasChanged();
        }
    }

    private BookingForm _request = new();

    private BookingFormFluentValidator orderValidator = new();

    private bool SubmitDisabled =>
        _cartState.IsHoldCallsInProgress
        || _cartState.SelectedSeats.Count == 0
        || !_request.AcceptTermsAndConditions
        || !_isValid
        || !_isTouched
        || _isSubmitting
        || (TicketType != "Cortesía" && PendingPay != 0);

    private decimal TotalPay =>
        (_request.CardAmount ?? 0) +
        (_request.CashAmount ?? 0) +
        (_request.DolarAmount ?? 0) +
        (_request.CreditAmount ?? 0) +
        (_request.OtherAmount ?? 0);

    private decimal PendingPay => IsFreeTicket ? _cartState.TotalPrice : _cartState.TotalPrice - TotalPay;
    private string FormattedPendingPay => Math.Abs(PendingPay).ToString(FormatConstants.CURRENCY);
    private Color PendingPayColor => IsFreeTicket ? Color.Secondary : PendingPay > 0 ? Color.Error : PendingPay < 0 ? Color.Tertiary : Color.Secondary;
    private bool IsFreeTicket => TicketType == "Cortesía";
    private List<PhoneRegionCodeResponse> _phoneRegionCodes = [];

    protected override async Task OnInitializedAsync()
    {
        _cartState.OnChange += StateHasChanged;

        try
        {
            _phoneRegionCodes = await _catalogsService.GetPhoneRegionCodesAsync();

            // TODO: Move this to a proper service
            var holdToken = await _adminClient.HoldSeatsAsync(new HoldSeatsRequest
            {
                EventId = _cartState.CurrentEventId.Value,
                Seats = _cartState.SelectedSeats.Select(x => x.SeatId).ToList()
            });

            _cartState.SetHoldToken(holdToken.Token, holdToken.ExpiresAt.GetValueOrDefault());
        }
        catch (Exception ex)
        {
            _snackbar.Add(L["ErrorBookingTickets"], MudBlazor.Severity.Error);
            await ReturnAsync();
        }
    }

    private async Task SearchOnBlurAsync(FocusEventArgs args)
    {
        if (string.IsNullOrWhiteSpace(_request.PhoneNumber) && string.IsNullOrWhiteSpace(_request.Email))
        {
            return;
        }

        try
        {
            ClientContactResponse? client = await _clientsService.SearchClientAsync(_request.PhoneRegionCodeId, _request.PhoneNumber ?? "", _request.Email ?? "");

            if (client is not null)
            {
                _request.FullName = $"{client.Name} {client.LastName}";
                _request.PhoneRegionCodeId = client.PhoneRegionCodeId;
                _request.PhoneNumber = client.PhoneNumber;
                _request.Email = client.Email;
                _request.ClientId = client.Id;
            }
        }
        catch (ApiException ex)
        {
            // If the client is not found, we don't want to show an error, we just want to clear the form
            if (ex.StatusCode != StatusCodes.Status404NotFound)
            {
                Console.WriteLine($"Unexpected error searching for client: {ex.Message}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Unexpected error searching for client: {ex.Message}");
        }

    }

    private async Task ReturnAsync()
    {
        bool exit = await ConfirmExitAsync();

        if (exit)
        {
            await OnReturn.InvokeAsync();
        }
    }

    private async Task<bool> ConfirmExitAsync()
    {

        var result = await _dialogService.ShowMessageBoxAsync(
                L["UnsavedChangesTitle"],
                L["UnsavedChangesMessage"],
                yesText: L["UnsavedChangesConfirm"],
                cancelText: L["UnsavedChangesCancel"]);

        if (result is true)
        {
            await ReleaseTokenAsync();
        }

        return result is true;
    }

    private async Task OnBeforeInternalNavigationAsync(LocationChangingContext context)
    {
        if (_successfulPurchase)
        {
            return;
        }

        var exit = await ConfirmExitAsync();

        if (!exit)
        {
            context.PreventNavigation();
        }
    }

    private async Task ReleaseTokenAsync()
    {
        // TODO: make sure token is released in seats.io before leaving this method
        try
        {
            var token = await _adminClient.ReleaseHoldSeatsAsync(_cartState.HoldToken);
        }
        catch (Exception)
        {
        }
        finally
        {
            _cartState.ClearTokenAsync();
        }
    }

    private async void ClearAmountsAsync()
    {
        _request.CardAmount = null;
        _request.CashAmount = null;
        _request.DolarAmount = null;
        _request.CreditAmount = null;
        _request.OtherAmount = null;
    }

    private async void SetAllCashAsync()
    {
        ClearAmountsAsync();
        _request.CashAmount = _cartState.TotalPrice;
    }
    private async void SetAllCardAsync()
    {
        ClearAmountsAsync();
        _request.CardAmount = _cartState.TotalPrice;
    }
    private async void SetAllDolar()
    {
        // TODO: Do currency conversions
        ClearAmountsAsync();
        _request.DolarAmount = _cartState.TotalPrice;
    }

    private async void SetAllCreditAsync()
    {
        ClearAmountsAsync();
        _request.CreditAmount = _cartState.TotalPrice;
    }

    private async void SetAllOtherAsync()
    {
        ClearAmountsAsync();
        _request.OtherAmount = _cartState.TotalPrice;
    }

    private async Task SubmitAsync()
    {
        if (_isSubmitting)
            return;

        await _form.Validate();

        if (!_form.IsValid)
        {
            return;
        }

        _isSubmitting = true;
        _loadingState.Show();

        var request = new EventBookingRequest
        {
            Seats = _cartState.SelectedSeats.ToDictionary(x => x.SeatId, x => x.Price),
            HoldToken = _cartState.HoldToken ?? "",
            EventKey = EventKey,
            ClientContact = new ClientInfoRequest
            {
                Id = _request.ClientId,
                PhoneRegionCodeId = _request.PhoneRegionCodeId,
                PhoneNumber = _request.PhoneNumber,
                Email = _request.Email,
                FullName = _request.FullName
            }
        };

        try
        {
            // TODO: Move to a proper service
            var result = await _adminClient.BookEventSeatsAsync(request);

            _snackbar.Add(L["Seats_PaymentSuccess"], configure: c =>
            {
                c.SnackbarVariant = Variant.Text;
                c.Icon = Icons.Custom.Uncategorized.AlertSuccess;
                c.IconColor = Color.Success;
            });

            _successfulPurchase = true;
            _cartState.ClearCart();
            _cartState.ClearTokenAsync();

            _navigation.NavigateTo("/events");
        }
        catch (Exception ex)
        {
            _snackbar.Add(L["Seats_PaymentError"], MudBlazor.Severity.Error);

            await ReleaseTokenAsync();
            await OnReturn.InvokeAsync();
        }
        finally
        {
            _isSubmitting = false;
            _loadingState.Hide();
        }
    }

    public async ValueTask DisposeAsync()
    {
        _cartState.OnChange -= StateHasChanged;
        await ReleaseTokenAsync();
    }

    public class BookingForm()
    {
        public string? TicketType { get; set; } = "Boleto";
        public string? DeliveryType { get; set; } = "Impreso";
        public bool AcceptTermsAndConditions { get; set; } = false;
        public long? ClientId { get; set; }
        public long? PhoneRegionCodeId { get; set; }
        public string? PhoneNumber { get; set; }
        public string? Email { get; set; }
        public string? FullName { get; set; }
        public string? City { get; set; }
        public string? Neighborhood { get; set; }
        public string? Gender { get; set; }
        public decimal? CardAmount { get; set; }
        public decimal? CashAmount { get; set; }
        public decimal? DolarAmount { get; set; }
        public decimal? CreditAmount { get; set; }
        public decimal? OtherAmount { get; set; }
    }

    public class EventClientForm()
    {
        public string? CountryPhoneISO { get; set; }
        public string? PhoneNumber { get; set; }
        public string? Email { get; set; }
        public string? FullName { get; set; }
        public string? City { get; set; }
        public string? Neighborhood { get; set; }
        public string? Gender { get; set; }
    }

    public class PaymentInfoForm()
    {
        public decimal? CardAmount { get; set; }
        public decimal? CashAmount { get; set; }
        public decimal? DolarAmount { get; set; }
        public decimal? CreditAmount { get; set; }
        public decimal? OtherAmount { get; set; }
    }

    public class BookingFormFluentValidator : AbstractValidator<BookingForm>
    {
        public BookingFormFluentValidator()
        {
            RuleFor(x => x.PhoneRegionCodeId)
                .NotNull().WithMessage("El codigo de país es requerido.");

            RuleFor(x => x.PhoneNumber)
                .NotEmpty().WithMessage("El número de teléfono es requerido.")
                .Matches(@"^\d{10}$").WithMessage("El número de teléfono debe tener 10 dígitos.");

            RuleFor(x => x.Email)
                .NotEmpty().WithMessage("El correo electrónico es requerido.")
                .EmailAddress().WithMessage("El correo electrónico no es válido.");

            RuleFor(x => x.TicketType)
                .NotEmpty()
                .WithMessage("El Tipo de entrada es requerido.");

            RuleFor(x => x.CardAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de tarjeta no puede ser negativo.");

            RuleFor(x => x.CashAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de efectivo no puede ser negativo.");

            RuleFor(x => x.DolarAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto en dólares no puede ser negativo.");

            RuleFor(x => x.CreditAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de crédito no puede ser negativo.");

            RuleFor(x => x.OtherAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de otros métodos no puede ser negativo.");

            RuleFor(x => x.DeliveryType)
                .NotEmpty().WithMessage("Elige método de entrega");

            RuleFor(x => x.AcceptTermsAndConditions)
                .Equal(true).WithMessage("Debes aceptar los términos y condiciones.");
        }

        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(ValidationContext<BookingForm>.CreateWithOptions((BookingForm)model, x => x.IncludeProperties(propertyName)));

            if (result.IsValid)
            {
                return Array.Empty<string>();
            }

            return result.Errors.Select(e => e.ErrorMessage);
        };
    }
}
