@page "/events"
@page "/events/{Tab}"
@attribute [Authorize]

@using Odasoft.XBOL.AdminPortal.Components.Shared;
@using Odasoft.XBOL.AdminPortal.Extensions;
@using Odasoft.XBOL.AdminPortal.Services.Contracts;
@using Odasoft.XBOL.AdminPortal.States
@using Odasoft.XBOL.AdminPortal.ViewModels.Shared;
@using Odasoft.XBOL.Business;
@using Odasoft.XBOL.Business.Services
@using Odasoft.XBOL.Common.Constants

@inject AppLocalizer<Events> L;
@inject IEventService _eventService;
@inject IDialogService _dialogService;
@inject ISnackbar _snackbar;
@inject CatalogsService _catalogsService;
@inject NavigationManager _navigationManager;
@inject LoadingState _loadingState;
@inject ILogger<Events> Logger;

<PageTitle>@L["PageTitle"]</PageTitle>

<MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-4">
    <MudToggleGroup T="string" Value="@_selectedTab" ValueChanged="OnTabChanged" CheckMark="false"
                    Class="border-secondary-lighten" Color="Color.Secondary">
        <MudToggleItem Value="@TabUpcoming" Text="@L["TabUpcoming"].Value.ToUpper()"
                        Class="@($"px-4 {(_selectedTab == TabUpcoming ? "bg-secondary-darken" : "")}")" />
        <MudToggleItem Value="@TabPast" Text="@L["TabPast"].Value.ToUpper()"
                        Class="@($"px-4 {(_selectedTab == TabPast ? "bg-secondary-darken" : "")}")" />
    </MudToggleGroup>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"
                Href="./events/create">
        @L["NewEvent"]
    </MudButton>
</MudStack>

<LoadingContainer IsLoading="_loading">
@if (_selectedTab == TabUpcoming)
{
    <MudGrid Spacing="8">
        @if (EventsList.Any())
        {
            @foreach (var eventItem in EventsList)
            {

                <MudItem xs="12" md="6" lg="3">
                    <EventCard Event="eventItem"
                               ShowActions
                               OnClick="@(() => _navigationManager.NavigateTo($"./events/{eventItem.Id}"))"></EventCard>
                </MudItem>
            }
        }
        else
        {
            <MudItem xs="12">
                <MudAlert Severity="Severity.Info">@L["NoEventsFound"]</MudAlert>
            </MudItem>
        }
    </MudGrid>
}
else if(_selectedTab == TabPast)
{
    <MudCard Elevation="3">
        <MudCardHeader>
            <!-- Table header -->
            <CardHeaderContent>
                <MudGrid Class="align-center">
                    <MudItem xs="12" sm="6" lg="8">
                        <MudText Class="pl-lg-4" Typo="Typo.h5">@L["PastEvents"]</MudText>
                    </MudItem>
                    <MudItem xs="12" sm="6" lg="4">
                        <MudStack Row AlignItems="AlignItems.Center">
                            <!-- Search field -->
                            <MudTextField @bind-Value="searchString"
                            @bind-Value:after="@(() => _dataGrid.ReloadServerData())" Placeholder="@L["Search"]"
                            Adornment="Adornment.Start" Immediate="true" Variant="Variant.Outlined"
                            AdornmentAriaLabel="@L["Search"]" AdornmentIcon="@Icons.Material.Filled.Search"
                            IconSize="Size.Medium" Margin="Margin.Dense" Typo="Typo.body2" Class="flex-grow-1"
                            DebounceInterval="500" />

                            <!-- Venue multi-select -->
                            <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                                <ActivatorContent>
                                    <MudIconButton Icon="@Icons.Material.Outlined.FilterAlt"
                                    Color="@(_filters.HasAnyFilter() ? Color.Primary : Color.Default)"
                                    OnClick="@context.ToggleAsync" />
                                </ActivatorContent>
                                <ChildContent>
                                    <MudStack Spacing="3" Class="pa-4" Style="width:375px">
                                        <!-- Venue multi-select -->
                                        <MudSelect T="string" Label="@L["FilterVenue"]" MultiSelection="true"
                                        Margin="Margin.Dense" @bind-SelectedValues="_selectedVenues"
                                        Variant="Variant.Outlined" ShrinkLabel>
                                            @foreach (var venue in _venues)
                                            {
                                                <MudSelectItem T="string" Value="@venue.Name">
                                                    <MudText Typo="Typo.body2">@venue.Name</MudText>
                                                </MudSelectItem>
                                            }
                                        </MudSelect>

                                        <!-- Event Category multi-select -->
                                        <MudSelect T="string" Label="@L["FilterCategory"]" MultiSelection="true"
                                        Margin="Margin.Dense" @bind-SelectedValues="_selectedCategories"
                                        Variant="Variant.Outlined" ShrinkLabel>
                                            @foreach (var category in _availableCategories)
                                            {
                                                <MudSelectItem T="string" Value="@category.Name">
                                                    <MudText Typo="Typo.body2">@category.DisplayName</MudText>
                                                </MudSelectItem>
                                            }
                                        </MudSelect>

                                        <!-- Date picker -->
                                        <MudDateRangePicker @bind-DateRange="_dateRange" Label="@L["FilterDateRange"]"
                                        Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel
                                        PlaceholderStart="DD/MM/AAAA" PlaceholderEnd="DD/MM/AAAA" />

                                        <MudStack Row Justify="Justify.SpaceBetween" Spacing="2" Class="mt-2">
                                            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Reorder"
                                            Class="mud-no-activator" OnClick="ClearFilters">
                                                @L["FilterClear"]
                                            </MudButton>
                                            <MudButton Variant="Variant.Filled" Color="Color.Tertiary"
                                            StartIcon="@Icons.Material.Filled.Search" OnClick="ApplyFilters">
                                                @L["FilterApply"]
                                            </MudButton>
                                        </MudStack>
                                    </MudStack>
                                </ChildContent>
                            </MudMenu>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </CardHeaderContent>
        </MudCardHeader>

        <!-- Table content -->
        <MudCardContent Class="pa-0">
            <MudDataGrid T="EventViewModel" @ref="_dataGrid" ServerData="ServerReload" Loading="_loading" Filterable="true"
            FilterMode="DataGridFilterMode.Simple" Hover="true" Elevation="0">
                <Columns>
                    <PropertyColumn Property="x => x.DateTime" Sortable="true" Filterable="false"
                    InitialDirection="SortDirection.Descending">
                        <HeaderTemplate>
                            <span Class="pl-lg-4">
                                @L["ColumnDateTime"]
                            </span>
                        </HeaderTemplate>
                        <CellTemplate>
                            <MudText Typo="Typo.body2" Class="pl-lg-4">@context.Item.DateTime.ToString(FormatConstants.DATE_TIME)</MudText>
                        </CellTemplate>
                    </PropertyColumn>

                    <TemplateColumn Title="@L["ColumnEventName"]" Sortable="false" Filterable="false">
                        <CellTemplate>
                            <MudText Typo="Typo.subtitle2">
                                <MudHighlighter Text="@context.Item.EventName" HighlightedText="@searchString" />
                            </MudText>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn Title="@L["ColumnCategory"]" SortBy="@(new Func<EventViewModel, object>(x => x.Categories))" Filterable="false">
                        <CellTemplate>
                            <MudText Typo="Typo.body2">
                                @context.Item.Categories
                            </MudText>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn Title="@L["ColumnAvailability"]" Filterable="false" Sortable="false">
                        <CellTemplate>
                            <EventAvailability Available="@context.Item.Available" Total="@context.Item.Total" ExternalKey="@context.Item.ExternalEventKey" />
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn Title="@L["ColumnActions"]" Filterable="false" Sortable="false">
                        <CellTemplate>
                            <MudStack Row Spacing="2">
                                <MudTooltip Text="@L["Delete"]" Placement="Placement.Top">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                    Color="Color.Secondary"
                                    Size="Size.Medium"
                                    OnClick="@(() => DeleteEventAsync(context.Item))" />
                                </MudTooltip>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

                <PagerContent>
                    <MudDataGridPager T="EventViewModel" />
                </PagerContent>
            </MudDataGrid>
        </MudCardContent>
    </MudCard>
}
</LoadingContainer>
    @code {
    [Parameter] public string? Tab { get; set; }

    private bool _loading = true;
    private string searchString = "";
    private MudDataGrid<EventViewModel> _dataGrid = default!;

    private EventFilterParameters _filters = EventFilterParameters.Empty;

    private List<VenueResponse> _venues = [];
    private IReadOnlyCollection<string> _selectedVenues = [];

    private List<EventCategoryResult> _availableCategories = [];
    private IReadOnlyCollection<string> _selectedCategories = [];

    private DateRange? _dateRange = null;

    private const string TabUpcoming = "upcoming";
    private const string TabPast = "past";

    private string _selectedTab = string.Empty;

    private int _page = QueryParamsConstants.DEFAULT_PAGE;
    private int _pageSize = QueryParamsConstants.DEFAULT_PAGE_SIZE;
    private int _totalItems = 0;

    private int TotalPages => (int)Math.Ceiling((double)_totalItems / _pageSize);

    private IEnumerable<EventViewModel> EventsList { get; set; } = [];

    protected override async Task OnParametersSetAsync()
    {
        var currentTab = _selectedTab;

        _selectedTab = Tab?.ToLowerInvariant() switch
        {
            TabPast => TabPast,
            _ => TabUpcoming
        };

        if (currentTab != _selectedTab)
        {
            await UpdateItemsAsync();
        }
    }

    private void OnTabChanged(string tab)
    {
        _navigationManager.NavigateTo($"./events/{tab}", replace: true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                _venues = await _catalogsService.GetVenuesAsync();
                _availableCategories = (await _eventService.GetCategoriesAsync())
                    .Where(c => c.IsActive == true).ToList();


                await UpdateItemsAsync();
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, "Failed to load event filters");
                _snackbar.Add(L["ErrorLoadingFilters"], Severity.Error);
            }
            finally
            {
                _loading = false;
                StateHasChanged();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _selectedTab = Tab?.ToLowerInvariant() switch
        {
            TabPast => TabPast,
            _ => TabUpcoming
        };
    }

    private async Task UpdateItemsAsync()
    {
        _loadingState.Show();
        if(_selectedTab == TabPast)
        {
            if (_dataGrid is not null)
            {
                await _dataGrid.ReloadServerData();
            }
        }
        else
        {
            await UpdateUpcomingItems();
        }
        _loadingState.Hide();
    }

    private async Task UpdateUpcomingItems()
    {
        _loadingState.Show();
        try
        {
            var result = await _eventService.GetEventsAsync(
            page: _page - 1,
            pageSize: _pageSize,
            sortColumn: null,
            sortDescending: true,
            search: null,
            filters: null,
            upcoming: Tab == TabPast ? false : true);

            EventsList = result.Items;
            _totalItems = result.TotalItems;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading events: {ex.Message}");
            _snackbar.Add(L["ErrorLoadingEvents"], Severity.Error);
        }
        finally
        {
            _loadingState.Hide();
            StateHasChanged();
        }
    }

    private async Task<GridData<EventViewModel>> ServerReload(GridState<EventViewModel> state, CancellationToken token)
    {
        _loading = true;

        try
        {
            return await FetchFromServer(state);
        }
        catch (TaskCanceledException)
        {
            return new GridData<EventViewModel> { TotalItems = 0, Items = [] };
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to load events");
            _snackbar.Add(L["ErrorLoadingEvents"], Severity.Error);
            return new GridData<EventViewModel> { TotalItems = 0, Items = [] };
        }
        finally
        {
            _loading = false;
        }
    }

    private bool HasSearchFilter() => !string.IsNullOrWhiteSpace(searchString);

    private async Task<GridData<EventViewModel>> FetchFromServer(GridState<EventViewModel> state)
    {
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        var result = await _eventService.GetEventsAsync(
            page: state.Page,
            pageSize: state.PageSize,
            sortColumn: sortDefinition?.SortBy,
            sortDescending: sortDefinition?.Descending ?? false,
            search: searchString,
            filters: _filters.HasAnyFilter() ? _filters : null,
            upcoming: Tab == TabPast ? false : true
    );

        return result;
    }

    private async Task ApplyFilters()
    {
        _filters = new EventFilterParameters(
        _selectedVenues.ToList(),
        _selectedCategories.ToList(),
        _dateRange?.Start,
        _dateRange?.End
        );

        await _dataGrid.ReloadServerData();
    }

    private async Task ClearFilters()
    {
        _selectedVenues = new HashSet<string>();
        _selectedCategories = new HashSet<string>();
        _dateRange = null;
        _filters = EventFilterParameters.Empty;

        await _dataGrid.ReloadServerData();
    }

    private async Task DeleteEventAsync(EventViewModel eventItem)
    {
        var confirmed = await _dialogService.ShowConfirmDeleteAsync(
        L["DeleteDialogTitle", eventItem?.EventName ?? ""],
        L["DeleteDialogMessage"]);

        if (!confirmed) return;

        try
        {
            await _eventService.DeleteEventAsync(eventItem.Id);
            _snackbar.Add(L["DeleteSuccess"], Severity.Success);
            _navigationManager.NavigateTo("./events");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting event: {ex.Message}");
            _snackbar.Add(L["DeleteError"], Severity.Error);
        }
    }
}
