@page "/events"
@using Odasoft.XBOL.AdminPortal.Extensions
@inject IStringLocalizer<Events> L
@inject IEventService EventService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>@L["PageTitle"]</PageTitle>

<MudCard Class="mt-4 mb-6" Elevation="3">
    <MudCardHeader>
        <!-- Table header -->
        <CardHeaderContent>
            <MudGrid Class="align-center">
                <MudItem xs="12" sm="6" lg="8">
                    <MudText Class="pl-lg-4" Typo="Typo.h5">@L["PageTitle"]</MudText>
                </MudItem>
                <MudItem xs="12" sm="6" lg="4">
                    <MudStack Row AlignItems="AlignItems.Center">
                        <!-- Search field -->
                        <MudTextField @bind-Value="searchString"
                            @bind-Value:after="@(() => _dataGrid.ReloadServerData())" Placeholder="@L["Search"]"
                            Adornment="Adornment.Start" Immediate="true" Variant="Variant.Outlined"
                            AdornmentAriaLabel="@L["Search"]" AdornmentIcon="@Icons.Material.Filled.Search"
                            IconSize="Size.Medium" Margin="Margin.Dense" Typo="Typo.body2" Class="flex-grow-1" />

                        <!-- Venue multi-select -->
                        <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                            <ActivatorContent>
                                <MudIconButton Icon="@Icons.Material.Outlined.FilterAlt"
                                    Color="@(_filters.HasAnyFilter() ? Color.Primary : Color.Default)" />
                            </ActivatorContent>
                            <ChildContent>
                                <MudStack Spacing="3" Class="pa-4" Style="width:375px">
                                    <!-- Venue multi-select -->
                                    <MudSelect T="string" Label="@L["FilterVenue"]" MultiSelection="true"
                                        Margin="Margin.Dense" @bind-SelectedValues="_selectedVenues"
                                        Variant="Variant.Outlined" ShrinkLabel>
                                        @foreach (var venue in _availableVenues)
                                        {
                                            <MudSelectItem T="string" Value="@venue">
                                                <MudText Typo="Typo.body2">@venue</MudText>
                                            </MudSelectItem>
                                        }
                                    </MudSelect>

                                    <!-- Event Type multi-select -->
                                    <MudSelect T="string" Label="@L["FilterType"]" MultiSelection="true"
                                        Margin="Margin.Dense" @bind-SelectedValues="_selectedTypes"
                                        Variant="Variant.Outlined" ShrinkLabel>
                                        @foreach (var type in _availableTypes)
                                        {
                                            <MudSelectItem T="string" Value="@type">
                                                <MudText Typo="Typo.body2">@type</MudText>
                                            </MudSelectItem>
                                        }
                                    </MudSelect>

                                    <!-- Date picker -->
                                    <MudDateRangePicker @bind-DateRange="_dateRange" Label="@L["FilterDateRange"]"
                                        Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel
                                        PlaceholderStart="DD/MM/AAAA" PlaceholderEnd="DD/MM/AAAA" />

                                    <MudStack Row Justify="Justify.SpaceBetween" Spacing="2" Class="mt-2">
                                        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Reorder"
                                            Class="mud-no-activator" OnClick="ClearFilters">
                                            @L["FilterClear"]
                                        </MudButton>
                                        <MudButton Variant="Variant.Filled" Color="Color.Tertiary"
                                            StartIcon="@Icons.Material.Filled.Search" OnClick="ApplyFilters">
                                            @L["FilterApply"]
                                        </MudButton>
                                    </MudStack>
                                </MudStack>
                            </ChildContent>
                        </MudMenu>

                    </MudStack>
                </MudItem>
            </MudGrid>
        </CardHeaderContent>
    </MudCardHeader>

    <!-- Table content -->
    <MudCardContent Class="pa-0">
        <MudDataGrid T="EventViewModel" @ref="_dataGrid" ServerData="ServerReload" Loading="_loading" Filterable="true"
            FilterMode="DataGridFilterMode.Simple" Hover="true" Elevation="0">
            <Columns>
                <PropertyColumn Property="x => x.DateTime" Sortable="true" Filterable="false"
                    InitialDirection="SortDirection.Descending">
                    <HeaderTemplate>
                        <span Class="pl-lg-4">
                            @L["ColumnDateTime"]
                        </span>
                    </HeaderTemplate>
                    <CellTemplate>
                        <MudText Typo="Typo.body2" Class="pl-lg-4">@context.Item.DateTime</MudText>
                    </CellTemplate>
                </PropertyColumn>

                <TemplateColumn Title="@L["ColumnTicketId"]" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudHighlighter Text="@context.Item.TicketId" HighlightedText="@searchString" />
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@L["ColumnEventName"]" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudText Typo="Typo.subtitle2">
                            <MudHighlighter Text="@context.Item.EventName" HighlightedText="@searchString" />
                        </MudText>

                        <MudText Typo="Typo.caption" Color="Color.Primary">
                            @context.Item.Venue
                        </MudText>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@L["ColumnType"]" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudText Typo="Typo.body2">
                            @context.Item.Type
                        </MudText>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@L["ColumnAvailability"]" Filterable="false" Sortable="false">
                    <CellTemplate>
                        <div class="d-flex">
                            <MudText Typo="Typo.body2" Color="Color.Tertiary">
                                <strong>@context.Item.Available</strong>
                            </MudText>
                            <MudText Typo="Typo.body2" Style="padding: 0 2px; color: var(--mud-palette-text-disabled);">
                                /
                            </MudText>
                            <MudText Typo="Typo.body2" Style="color: var(--mud-palette-text-disabled);">
                                @context.Item.Total
                            </MudText>
                        </div>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@L["ColumnActions"]" Filterable="false" Sortable="false">
                    <CellTemplate>
                        <MudStack Row Spacing="2">
                            <MudTooltip Text="@L["ActionBoletos"]" Placement="Placement.Top">
                                <MudIconButton Icon="@Icons.Material.Outlined.ShoppingCart" Size="Size.Medium" />
                            </MudTooltip>
                            <MudTooltip Text="@L["ActionCancelar"]" Placement="Placement.Top">
                                <MudIconButton Icon="@Icons.Material.Outlined.EventBusy" Size="Size.Medium"
                                    OnClick="@(() => HandleCancelEvent(context.Item))" />
                            </MudTooltip>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="EventViewModel" />
            </PagerContent>

        </MudDataGrid>
    </MudCardContent>
</MudCard>

@code {
    private bool _loading;
    private string searchString = "";
    private List<EventViewModel> _cachedServerData = new();
    private MudDataGrid<EventViewModel> _dataGrid = default!;

    private EventFilterParameters _filters = EventFilterParameters.Empty;

    private List<string> _availableVenues = new();
    private IEnumerable<string> _selectedVenues = new HashSet<string>();

    private List<string> _availableTypes = new();
    private IEnumerable<string> _selectedTypes = new HashSet<string>();

    private DateRange? _dateRange = null;

    protected override async Task OnInitializedAsync()
    {
        _availableVenues = await EventService.GetVenuesAsync();
        _availableTypes = await EventService.GetEventTypesAsync();
    }

    private async Task<GridData<EventViewModel>> ServerReload(GridState<EventViewModel> state)
    {
        _loading = true;
        try
        {
            // Client-side search only when no server filters active
            if (HasSearchFilter() && !_filters.HasAnyFilter())
                return SearchCachedData(state);

            // Fetch filtered data from server
            var result = await FetchFromServer(state);

            // Apply client-side search to fresh data if needed
            if (HasSearchFilter())
                return SearchCachedData(state);

            return result;
        }
        finally
        {
            _loading = false;
        }
    }

    private bool HasSearchFilter() => !string.IsNullOrWhiteSpace(searchString);

    private bool MatchesSearch(EventViewModel e) =>
    (e.EventName?.Contains(searchString, StringComparison.OrdinalIgnoreCase) == true) ||
    (e.TicketId?.Contains(searchString, StringComparison.OrdinalIgnoreCase) == true);

    private GridData<EventViewModel> SearchCachedData(GridState<EventViewModel> state) =>
    _cachedServerData.ToClientSideGridData(state, MatchesSearch);

    private async Task<GridData<EventViewModel>> FetchFromServer(GridState<EventViewModel> state)
    {
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        var result = await EventService.GetEventsAsync(
        state.Page,
        state.PageSize,
        sortDefinition?.SortBy,
        sortDefinition?.Descending ?? false,
        _filters.HasAnyFilter() ? _filters : null);

        _cachedServerData = result.Items.ToList();
        return result;
    }

    private async Task ApplyFilters()
    {
        _filters = new EventFilterParameters(
        _selectedVenues.ToList(),
        _selectedTypes.ToList(),
        _dateRange?.Start,
        _dateRange?.End
        );

        await _dataGrid.ReloadServerData();
    }

    private async Task ClearFilters()
    {
        _selectedVenues = new HashSet<string>();
        _selectedTypes = new HashSet<string>();
        _dateRange = null;
        _filters = EventFilterParameters.Empty;

        await _dataGrid.ReloadServerData();
    }

    private async Task HandleCancelEvent(EventViewModel eventItem)
    {
        var title = string.Format(L["ConfirmDeleteTitle"], eventItem.EventName);
        var message = $"{L["ConfirmDeleteQuestion"]} {L["ConfirmDeleteMessage"]}";

        var confirmed = await DialogService.ShowConfirmDeleteAsync(title, message);

        if (confirmed)
        {
            var success = await EventService.CancelEventAsync(eventItem.Id);
            if (success)
            {
                _cachedServerData.RemoveAll(e => e.Id == eventItem.Id);

                Snackbar.Add(string.Format(L["CancelSuccess"], eventItem.EventName), Severity.Success);
                await _dataGrid.ReloadServerData();
            }
            else
            {
                Snackbar.Add(string.Format(L["CancelError"], eventItem.EventName), Severity.Error);
            }
        }
    }
}
