@page "/events/create"
@using Odasoft.XBOL.Business
@using Odasoft.XBOL.Business.Services

@inject CatalogsService CatalogsService;
@inject IEventService EventService;
@inject EventScheduleService ScheduleService;
@inject AppLocalizer<EventsCreate> L
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<PageTitle>@L["PageTitle"]</PageTitle>

<SectionContent SectionName="nav-header">
    <PageActionBar>
        <LeftContent>
            <MudButton StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Secondary"
                       Variant="Variant.Outlined" DropShadow="false" OnClick="@(() => GoBackAsync())">
                @L["GoBack"]
            </MudButton>
        </LeftContent>
    </PageActionBar>
</SectionContent>

<MudCard Elevation="3">
    <MudCardContent>
        <MudStack Justify="Justify.SpaceBetween" AlignItems="AlignItems.Start" Class="mb-4">
            <MudText Typo="Typo.h5">@L["PageTitle"]</MudText>
            <MudText Typo="Typo.caption" Color="Color.Secondary">@L["RequiredFieldsNote"]</MudText>
        </MudStack>

        <MudStepper @ref="_stepper" @bind-ActiveIndex="_activeIndex" NonLinear>
            <ChildContent>
                <MudStep Title="@L["DescriptionAndVenue"]">
                    <MudForm @ref="_descriptionForm" @bind-IsValid="_descriptionFormValid" @onkeydown="OnKeyDownAsync">
                        <MudGrid Spacing="7">
                            <MudItem xs="12" sm="6">
                                <MudGrid Spacing="4">
                                    <MudItem xs="12">
                                        <AdminTextField 
                                            @bind-Value="_name" 
                                            Label="@L["Name"].Value"
                                            Field="@_descriptionFormContext.Field("Name")"
                                            Required/>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <AdminTextField 
                                            @bind-Value="_subtitle"
                                            Label="@L["Subtitle"].Value"
                                            Field="@_descriptionFormContext.Field("Subtitle")" />
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudSelect
                                            Label="@L["EventType"]"
                                            T="EventCategoryResult"
                                            MultiSelection="true"
                                            @bind-SelectedValues="_selectedCategories"
                                            Variant="Variant.Outlined"
                                            Margin="Margin.Dense"
                                            ToStringFunc="@(c => c?.DisplayName ?? "")"
                                            Required>

                                            @foreach (var category in _eventCategories)
                                            {
                                                <MudSelectItem T="EventCategoryResult" Value="category">
                                                    @category.DisplayName
                                                </MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <AdminTextField 
                                            @bind-Value="_shortDescription"
                                            Label="@L["EventSummary"].Value"
                                            Field="@_descriptionFormContext.Field("ShortDescription")"
                                            Lines="@(3)" />
                                    </MudItem>
                                    <MudItem xs="12">
                                        <AdminTextField
                                            @bind-Value="_longDescription"
                                            Label="@L["EventDescription"].Value"
                                            Field="@_descriptionFormContext.Field("LongDescription")"  
                                            Lines="@(6)" />
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                            <MudItem xs="12" sm="6">
                                <MudGrid Spacing="4">
                                    <MudItem xs="12" md="6">
                                        <AdminSelect 
                                            T="long?"
                                            Value="_selectedVenueId"
                                            ValueChanged="OnVenueSelected"
                                            Label="@L["Venue"].Value"
                                            Required>
                                            @foreach (var venue in _venues)
                                            {
                                                <MudSelectItem T="long?" Value="@venue.Id">@venue.Name</MudSelectItem>
                                            }
                                        </AdminSelect>
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <AdminSelect T="long?"
                                            Value="_selectedVenueMapId"
                                                     ValueChanged="OnVenueMapSelected"
                                                     Label="@L["Map"].Value"
                                                     Required>
                                            @foreach (var map in _venueMaps)
                                            {
                                                <MudSelectItem T="long?" Value="@map.Id">@map.Name</MudSelectItem>
                                            }
                                        </AdminSelect>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudForm>
                </MudStep>
                <MudStep Title="@L["DatesAndSalePolicies"]">
                    <MudForm @ref="_datesAndSalePoliciesForm" @bind-IsValid="_datesAndSalePoliciesValid" @onkeydown="OnKeyDownAsync">
                        <MudGrid Spacing="8">
                            <MudItem xs="12">
                                <MudText>@L["EventSchedule"]</MudText>
                            </MudItem>
                            <MudItem xs="12" md="3">
                                <AdminDatePicker @bind-Date="_startDate"
                                                 Label="@L["StartDate"].Value"
                                                 Field="@_datesAndSalePoliciesFormContext.Field("StartDate")"
                                                 Required />
                            </MudItem>
                            <MudItem xs="12" md="2">
                                <MudTimePicker @bind-Time="_startTime"
                                               Label="@L["Time"].Value"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               TimeFormat="h:mm tt"
                                               AmPm="true"
                                               Required />
                            </MudItem>
                            <MudItem xs="12" md="3">
                                <AdminDatePicker @bind-Date="_endDate" Label="@L["EndDate"].Value" Required Field="@_datesAndSalePoliciesFormContext.Field("EndDate")" />
                            </MudItem>
                            <MudItem xs="12" md="2">
                                <MudTimePicker @bind-Time="_endTime"
                                               Label="@L["Time"].Value"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               TimeFormat="h:mm tt"
                                               AmPm="true"
                                               Required />
                            </MudItem>
                            <MudFlexBreak />
                            <MudItem xs="12">
                                <MudText>@L["TicketsPreSale"]</MudText>
                            </MudItem>
                            <MudItem xs="12" md="3">
                                <AdminDatePicker 
                                    @bind-Date="_preSaleDate" 
                                    Label="@L["StartDate"].Value"
                                    Field="@_datesAndSalePoliciesFormContext.Field("PreSaleDate")"
                                    Required/>
                            </MudItem>
                            <MudItem xs="12" md="2">
                                <MudTimePicker 
                                    @bind-Time="_preSaleTime" 
                                    Label="@L["Time"].Value"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    TimeFormat="h:mm tt"
                                    AmPm="true"
                                    Required/>
                            </MudItem>
                            <MudItem xs="12" md="3">
                                <AdminDatePicker @bind-Date="_presaleEndDate" Label="@L["EndDate"].Value" Required Field="@_datesAndSalePoliciesFormContext.Field("PreSaleEndDate")" />
                            </MudItem>
                            <MudItem xs="12" md="2">
                                <MudTimePicker @bind-Time="_preSaleEndTime"
                                               Label="@L["Time"].Value"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               TimeFormat="h:mm tt"
                                               AmPm="true"
                                               Required/>
                            </MudItem>
                            <MudFlexBreak />
                            <MudItem xs="12">
                                <MudText>@L["TicketsSale"]</MudText>
                            </MudItem>
                            <MudItem xs="12" md="3">
                                <AdminDatePicker @bind-Date="_onSaleDate" Label="@L["StartDate"].Value" Field="@_datesAndSalePoliciesFormContext.Field("OnSaleDate")" Required/>
                            </MudItem>
                            <MudItem xs="12" md="2">
                                <MudTimePicker @bind-Time="_onSaleTime"
                                               Label="@L["Time"].Value"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               TimeFormat="h:mm tt"
                                               AmPm="true" 
                                               Required/>
                            </MudItem>
                            <MudItem xs="12" md="3">
                                <AdminDatePicker @bind-Date="_offSaleDate" Label="@L["EndDate"].Value" Required Field="@_datesAndSalePoliciesFormContext.Field("OffSaleDate")" />
                            </MudItem>
                            <MudItem xs="12" md="2">
                                <MudTimePicker @bind-Time="_offSaleTime"
                                               Label="@L["Time"].Value"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               TimeFormat="h:mm tt"
                                               AmPm="true" 
                                               Required/>
                            </MudItem>
                            <MudFlexBreak />
                            <MudItem xs="12" md="5">
                                <MudGrid Spacing="8">
                                    <MudItem xs="12">
                                        <MudText>@L["WebSitePublishing"]</MudText>
                                    </MudItem>
                                    <MudItem xs="12" md="7">
                                        <AdminDatePicker @bind-Date="_publishedDate" Label="@L["PublishDate"].Value" Required Field="@_datesAndSalePoliciesFormContext.Field("PublishedDate")" />
                                    </MudItem>
                                    <MudItem xs="12" md="5">
                                        <MudTimePicker @bind-Time="_publishedTime"
                                                       Label="@L["Time"].Value"
                                                       Variant="Variant.Outlined"
                                                       Margin="Margin.Dense"
                                                       TimeFormat="h:mm tt"
                                                       AmPm="true" 
                                                       Required/>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                            <MudItem xs="12" md="5">
                                <MudGrid Spacing="8">
                                    <MudItem xs="12">
                                        <MudText>@L["VenueAccess"]</MudText>
                                    </MudItem>
                                    <MudItem xs="12" md="7">
                                        <AdminDatePicker @bind-Date="_gateOpenDate" Label="@L["AccessDate"].Value" Required Field="@_datesAndSalePoliciesFormContext.Field("GateOpenDate")" />
                                    </MudItem>
                                    <MudItem xs="12" md="5">
                                        <MudTimePicker @bind-Time="_gateOpenTime"
                                                       Label="@L["Time"].Value"
                                                       Variant="Variant.Outlined"
                                                       Margin="Margin.Dense"
                                                       TimeFormat="h:mm tt"
                                                       AmPm="true" 
                                                       Required/>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                            <MudItem xs="12" md="2">
                                <MudSelect Label="@L["AgeRestrictions"]"
                                           T="AgeRestriction?"
                                           @bind-Value="_ageRestriction"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Validation="@(_descriptionFormContext.Field("AgeRestriction").ValidationFor<AgeRestriction?>())"
                                           ToStringFunc="@(restriction => L[restriction.ToString()].Value)"
                                           >

                                    @foreach (var restriction in _ageRestrictions)
                                    {
                                        <MudSelectItem T="AgeRestriction?" Value="restriction">
                                            @L[restriction.ToString()]
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <AdminTextField @bind-Value="_securityPolicies"
                                                Label="@L["SecurityPolicies"].Value"
                                                Field="@_descriptionFormContext.Field("SecurityPolicies")"
                                                Lines="@(6)" />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <AdminTextField @bind-Value="_additionalComments"
                                                Label="@L["AdditionalComments"].Value"
                                                Field="@_descriptionFormContext.Field("AdditionalComments")"
                                                Lines="@(6)" />
                            </MudItem>
                        </MudGrid>
                    </MudForm>
                </MudStep>
            </ChildContent>
            <ActionContent Context="stepperContext">
@*                 @if (_activeIndex > 0)
                {
                    <MudButton OnClick="@(() => _stepper.PreviousStepAsync())"
                                StartIcon="@Icons.Material.Filled.ChevronLeft"
                                Variant="Variant.Outlined"
                                Color="MudBlazor.Color.Primary">
                        ATRÁS
                    </MudButton>
                } *@
                @* </div> *@
                <MudSpacer />
                @* <div class="d-flex gap-2"> *@

                @if (_activeIndex < _maxIndex)
                {
                    <MudButton OnClick="ValidateAndGoNextAsync"
                                EndIcon="@Icons.Material.Filled.ChevronRight"
                                Variant="Variant.Outlined"
                                Color="MudBlazor.Color.Primary">
                        SIGUIENTE
                    </MudButton>
                }
                else if (_activeIndex == _maxIndex)
                {
                    <MudButton OnClick="SubmitAsync"
                                Variant="Variant.Filled"
                                StartIcon="@Icons.Material.Filled.Save"
                                Color="MudBlazor.Color.Success">
                        GUARDAR
                    </MudButton>
                }
                @* </div> *@
            </ActionContent>
        </MudStepper>        
    </MudCardContent>
</MudCard>

@code {
    private MudStepper _stepper = null!;
    private int _activeIndex = 0;
    private int _maxIndex = 1;

    private MudForm _descriptionForm = default!;
    private bool _descriptionFormValid;
    private FormContext _descriptionFormContext = default!;

    private MudForm _datesAndSalePoliciesForm = default!;
    private bool _datesAndSalePoliciesValid;
    private FormContext _datesAndSalePoliciesFormContext = default!;

    private List<EventCategoryResult> _eventCategories = [];
    private IReadOnlyCollection<EventCategoryResult> _selectedCategories = [];
    private List<AgeRestriction> _ageRestrictions = Enum.GetValues<AgeRestriction>().ToList();
    private List<ListItem> _venues = [];
    private List<ListItem> _venueMaps = [];


    private string? _name;
    private string? _subtitle;
    private string? _shortDescription;
    private string? _longDescription;
    private DateTime? _startDate;
    private TimeSpan? _startTime;
    private DateTime? _endDate;
    private TimeSpan? _endTime;
    private DateTime? _preSaleDate;
    private TimeSpan? _preSaleTime;
    private DateTime? _presaleEndDate;
    private TimeSpan? _preSaleEndTime;
    private DateTime? _onSaleDate;
    private TimeSpan? _onSaleTime;
    private DateTime? _offSaleDate;
    private TimeSpan? _offSaleTime;
    private DateTime? _publishedDate;
    private TimeSpan? _publishedTime;
    private DateTime? _gateOpenDate;
    private TimeSpan? _gateOpenTime;
    private AgeRestriction? _ageRestriction;
    private string? _securityPolicies;
    private string? _additionalComments;

    private long? _selectedVenueId;
    private long? _selectedVenueMapId;

    protected override async Task OnInitializedAsync()
    {
        _descriptionFormContext = new FormContext(StateHasChanged);
        _datesAndSalePoliciesFormContext = new FormContext(StateHasChanged);
        try
        {
            var venueTask = CatalogsService.GetVenuesAsync();
            var catTask = EventService.GetCategoriesAsync();
            await Task.WhenAll(venueTask, catTask);

            _venues = await venueTask;
            _eventCategories = (await catTask).Where(c => c.IsActive == true).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading data: {ex.Message}");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _descriptionFormContext.SetForm(_descriptionForm);
            _datesAndSalePoliciesFormContext.SetForm(_datesAndSalePoliciesForm);
        }
    }

    private async Task OnVenueSelected(long? id)
    {
        _selectedVenueId = id;
        _selectedVenueMapId = null;

        if(_selectedVenueId is null)
        {
            _venueMaps = [];
            return;
        }

        _venueMaps = await CatalogsService.GetVenueMapsByVenueId(_selectedVenueId.Value);
    }

    private async Task OnVenueMapSelected(long? id)
    {
        _selectedVenueMapId = id;

        // Get or render map
    }

    private async Task GoBackAsync()
    {
        if (_descriptionForm.IsTouched || ( _datesAndSalePoliciesForm is not null && _datesAndSalePoliciesForm.IsTouched))
        {
            var result = await DialogService.ShowMessageBoxAsync(
                L["UnsavedChangesTitle"],
                L["UnsavedChangesMessage"],
                yesText: L["UnsavedChangesConfirm"],
                cancelText: L["UnsavedChangesCancel"]);

            if (result is not true) return;
        }

        Navigation.NavigateTo("/events");
    }

    private async Task OnKeyDownAsync(KeyboardEventArgs e)
    {
        if (e is { Key: "Enter", CtrlKey: true })
        {
            if (_activeIndex < _maxIndex)
            {
                await ValidateAndGoNextAsync();
            }
            else if (_activeIndex == _maxIndex)
            {
                await SubmitAsync();
            }
        }
    }

    private async Task ValidateAndGoNextAsync()
    {
        if (_activeIndex == 0)
        {
            await _descriptionForm.Validate();

            if (_descriptionFormValid)
            {
                await _stepper.NextStepAsync();
            }
        }
        else
        {
            await _stepper.NextStepAsync();
        }
    }

    private async Task SubmitAsync()
    {
        _datesAndSalePoliciesFormContext.SetForm(_datesAndSalePoliciesForm);
        if (!await _descriptionFormContext.ValidateAsync()) return;
        if (!await _datesAndSalePoliciesFormContext.ValidateAsync()) return;

        _descriptionFormContext.SetSaving(true);
        _datesAndSalePoliciesFormContext.SetSaving(true);
        try
        {
            var request = new CreateEventRequest
                {
                    Name = _name,
                    Subtitle = _subtitle,
                    CategoryIds = _selectedCategories.Where(c => c.Id.HasValue).Select(c => c.Id!.Value).ToList(),
                    ShortDescription = _shortDescription,
                    LongDescription = _longDescription,
                    VenueMapId = _selectedVenueMapId
                };

            EventResult result = await EventService.CreateEventAsync(request);

            var scheduleRequest = new CreateEventScheduleRequest
            {
                EventId = result.Id,
                StartDateTime = DateTimeHelpers.ToDateTimeOffset(_startDate, _startTime),
                EndDateTime = DateTimeHelpers.ToDateTimeOffset(_endDate, _endTime),
                PreSaleDate = DateTimeHelpers.ToDateTimeOffset(_preSaleDate, _preSaleTime),
                PreSaleEndDate = DateTimeHelpers.ToDateTimeOffset(_presaleEndDate, _preSaleEndTime),
                OnSaleDate = DateTimeHelpers.ToDateTimeOffset(_onSaleDate, _onSaleTime),
                OffSaleDate = DateTimeHelpers.ToDateTimeOffset(_offSaleDate, _offSaleTime),
                PublishedDate = DateTimeHelpers.ToDateTimeOffset(_publishedDate, _publishedTime),
                GateOpenDate = DateTimeHelpers.ToDateTimeOffset(_gateOpenDate, _gateOpenTime),
                AgeRestriction = _ageRestriction,
                SecurityPolicies = _securityPolicies,
                AdditionalComments = _additionalComments
            };

            await ScheduleService.CreateScheduleAsync(scheduleRequest);
            Snackbar.Add(L["CreateSuccess", L["Event"]], Severity.Success);
            Navigation.NavigateTo("/events");
        }
        catch (ApiException<ProblemDetails> ex)
        {
            _descriptionFormContext.HandleApiException(ex);
            _datesAndSalePoliciesFormContext.HandleApiException(ex);
            Snackbar.Add(ex.Result.Title ?? L["ErrorCreatingEvent"], Severity.Error);
        }
        catch (Exception)
        {
            Snackbar.Add(L["ErrorCreatingEvent"], Severity.Error);
        }
        finally
        {
            _descriptionFormContext.SetSaving(false);
            _datesAndSalePoliciesFormContext.SetSaving(false);
        }
    }
}
