@using FluentValidation
@using Odasoft.XBOL.AdminPortal.States
@using Odasoft.XBOL.Business
@using Odasoft.XBOL.Common.Constants
@using Odasoft.XBOL.Models.Constants

@implements IDisposable
@inject CartState CartState
@inject IAdminClient AdminClient
@inject NavigationManager Navigation
@inject IStringLocalizer<Events> Localizer
@inject ISnackbar Snackbar
@inject LoadingState LoadingState
@inject IDialogService DialogService

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" ConfirmExternalNavigation="true" />

<MudForm @ref="_form" Model="_request" @bind-IsValid="_isValid" @bind-IsTouched="_isTouched" Validation="@(orderValidator.ValidateValue)">
    <MudGrid Justify="Justify.SpaceBetween">
        <MudItem xs="12" Class="d-flex justify-space-between">
            <MudText Typo="Typo.h5">Método de pago</MudText>
            <MudButton OnClick="Return" StartIcon="@Icons.Material.Outlined.ArrowBackIosNew">ASIENTOS</MudButton>
        </MudItem>

        <MudItem xs="3">
            <MudGrid>
                <MudItem xs="6">
                    <MudSelect Label="Lada*"
                               Variant="Variant.Outlined"
                               Margin="Margin.Dense"
                               @bind-Value="_request.CountryPhoneISO"
                               For="@(() => _request.CountryPhoneISO)">

                        @foreach (var item in CountryDialCodes.Map)
                        {
                            <MudSelectItem T="string" Value="item.Value">
                                @item.Value
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField Label="Teléfono*"
                                  @bind-Value="_request.PhoneNumber"
                                  For="@(() => _request.PhoneNumber)"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  MaxLength="10"
                                  OnBlur="OnPhoneBlur"
                                  InputType="InputType.Telephone" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Correo electrónico*"
                                  Variant="Variant.Outlined"
                                  @bind-Value="_request.Email"
                                  For="@(() => _request.Email)"
                                  Margin="Margin.Dense"
                                  Immediate="true" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="_request.FullName"
                                  For="@(() => _request.FullName)"
                                  Label="Nombre del comprador" Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Immediate="true" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField @bind-Value="_request.City"
                                  For="@(() => _request.City)"
                                  Label="Ciudad"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Immediate="true" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField @bind-Value="_request.Neighborhood"
                                  For="@(() => _request.Neighborhood)"
                                  Label="Colonia"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Immediate="true" />
                </MudItem>
                <MudItem xs="12">
                    <MudSelect @bind-Value="_request.Gender"
                               For="@(() => _request.Gender)"
                               Label="Género"
                               Variant="Variant.Outlined"
                               Margin="Margin.Dense"
                               Placeholder="Sin especificar"
                               Immediate="true"
                               ShrinkLabel>
                        <MudSelectItem Value="@("Femenino")">Femenino</MudSelectItem>
                        <MudSelectItem Value="@("Masculino")">Masculino</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudSelect @bind-Value="TicketType"
                               For="@(() => TicketType)"
                               Label="Tipo de entrada*"
                               Variant="Variant.Outlined"
                               Margin="Margin.Dense"
                               Immediate="true">
                        <MudSelectItem Value="@("Boleto")">Boleto</MudSelectItem>
                        <MudSelectItem Value="@("Cortesía")">Cortesía</MudSelectItem>
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="4">
            <OrderSummary AllowRemoval="false"></OrderSummary>
        </MudItem>
        <MudItem xs="4">
            <MudGrid>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    @*                     <MudTextField @bind-Value="_request.PaymentInfoForm.CardAmount" For="@(() => _request.PaymentInfoForm.CardAmount)" Label="Tarjeta" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Margin="Margin.Dense" Placeholder="0.00" Format="N2" /> *@
                    <MudNumericField @bind-Value="_request.CardAmount"
                                     For="@(() => _request.CardAmount)"
                                     Format="N2"
                                     Label="Tarjeta"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                     Margin="Margin.Dense"
                                     Placeholder="0.00"
                                     HideSpinButtons="true"
                                     Disabled="IsFreeTicket"
                                     Immediate />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllCard" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudTextField @bind-Value="_request.CashAmount" For="@(() => _request.CashAmount)" Label="Efectivo" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Margin="Margin.Dense" Placeholder="0.00" Format="N2" Disabled="IsFreeTicket" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllCash" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudTextField @bind-Value="_request.DolarAmount" For="@(() => _request.DolarAmount)" Label="Dólares" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Margin="Margin.Dense" Placeholder="0.00" Format="N2" Disabled="IsFreeTicket" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllDolar" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudTextField @bind-Value="_request.CreditAmount" For="@(() => _request.CreditAmount)" Label="Crédito" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Margin="Margin.Dense" Placeholder="0.00" Format="N2" Disabled="IsFreeTicket" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllCredit" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12" class="d-flex gap-4 align-center">
                    <MudTextField @bind-Value="_request.OtherAmount" For="@(() => _request.OtherAmount)" Label="Otro (Cheque, SPEI)" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Margin="Margin.Dense" Placeholder="0.00" Format="N2" Disabled="IsFreeTicket" />
                    <MudButton Variant="Variant.Outlined" @onclick="SetAllOther" Disabled="IsFreeTicket">TODO</MudButton>
                </MudItem>
                <MudItem xs="12">
                    <div class="order-summary">
                        <div class="d-flex justify-space-between summary-item summary-received">
                            <MudText Typo="Typo.body2">Recibido</MudText>
                            <MudText Typo="Typo.subtitle2">@TotalPay.ToString(FormatConstants.CURRENCY)</MudText>
                        </div>

                        <div class="d-flex justify-space-between summary-item summary-change">
                            <MudText Typo="Typo.caption">@(IsFreeTicket ? "Cortesía" : PendingPay < 0 ? "Cambio" : "Pendiente")</MudText>
                            <MudText Typo="Typo.caption" Color="PendingPayColor">@FormattedPendingPay</MudText>
                        </div>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <MudRadioGroup @bind-Value="_request.DeliveryType" For="@(() => _request.DeliveryType)">
                        <MudGrid Justify="Justify.SpaceBetween">
                            <MudItem xs="12" lg="6">
                                <MudRadio Value="@("Impreso")" Color="Color.Primary" UncheckedColor="Color.Secondary">
                                    <MudStack Row AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Material.Filled.Print" Title="Favorite" />
                                        <MudText Typo="Typo.body1">Boleto impreso</MudText>
                                    </MudStack>
                                </MudRadio>
                            </MudItem>
                            <MudItem xs="12" lg="6">
                                <MudRadio Value="@("Digital")" Color="Color.Primary" UncheckedColor="Color.Secondary">
                                    <MudStack Row AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Material.Filled.Send" Title="Favorite" />
                                        <MudText Typo="Typo.body1">Boleto digital</MudText>
                                    </MudStack>
                                </MudRadio>
                            </MudItem>
                        </MudGrid>
                    </MudRadioGroup>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-end">
                    <MudSwitch @bind-Value="_request.AcceptTermsAndConditions" For="@(() => _request.AcceptTermsAndConditions)" UncheckedColor="Color.Secondary" Color="Color.Primary">
                        <MudText Typo="Typo.subtitle2" Color="Color.Secondary">Acepto términos y condiciones</MudText>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-end">
                    <MudButton Variant="Variant.Filled"
                               DropShadow="false"
                               StartIcon="@Icons.Material.Outlined.Save"
                               Color="Color.Tertiary"
                               Disabled="@SubmitDisabled"
                               @onclick="Submit">@(_isSubmitting ? "Procesando..." : "PAGAR")</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudForm>

@code {
    // TODO: Enable submit button only when form is valid

    [EditorRequired]
    [Parameter]
    public string EventKey { get; set; }
    [Parameter]
    public EventCallback OnReturn { get; set; }

    MudForm _form;

    private bool _isValid = false;
    private bool _isTouched = false;
    private bool _isSubmitting = false;
    private bool _succesfulPurchase = false;

    private string? _ticketType = "Boleto";

    public string? TicketType
    {
        get
        {
            return _ticketType;
        }
        set
        {
            _ticketType = value;
            _request.TicketType = value;
            if (value == "Cortesía")
            {
                ClearAmounts();
            }
            StateHasChanged();
        }
    }

    private BookingForm _request = new();

    private BookingFormFluentValidator orderValidator = new();

    private bool SubmitDisabled =>
        CartState.IsHoldCallsInProgress
        || CartState.SelectedSeats.Count == 0
        || !_request.AcceptTermsAndConditions
        || !_isValid
        || !_isTouched
        || _isSubmitting
        || (TicketType != "Cortesía" && PendingPay > 0);

    private decimal TotalPay =>
        (_request.CardAmount ?? 0) +
        (_request.CashAmount ?? 0) +
        (_request.DolarAmount ?? 0) +
        (_request.CreditAmount ?? 0) +
        (_request.OtherAmount ?? 0);

    private decimal PendingPay => IsFreeTicket ? CartState.TotalPrice : CartState.TotalPrice - TotalPay;
    private string FormattedPendingPay => Math.Abs(PendingPay).ToString(FormatConstants.CURRENCY);
    private Color PendingPayColor => IsFreeTicket ? Color.Secondary : PendingPay > 0 ? Color.Error : PendingPay < 0 ? Color.Tertiary : Color.Secondary;
    private bool IsFreeTicket => TicketType == "Cortesía";

    protected override async Task OnInitializedAsync()
    {
        CartState.OnChange += StateHasChanged;
        try
        {
            var holdToken = await AdminClient.HoldSeatsAsync(new HoldSeatsRequest
            {
                EventId = CartState.CurrentEventId.Value,
                Seats = CartState.SelectedSeats.Select(x => x.SeatId).ToList()
            });
            CartState.SetHoldToken(holdToken.Token, holdToken.ExpiresAt.GetValueOrDefault());
        }
        catch (Exception ex)
        {
            Snackbar.Add("No se pueden reservar los asientos", MudBlazor.Severity.Error);
            await Return();
        }
    }

    private async Task OnPhoneBlur(FocusEventArgs args)
    {
        // TODO: Validar que el cliente no tenga una compra previa para mostrar su información y validar renovación en caso de ser temporada
    }

    private async Task Return()
    {
        bool exit = await ConfirmExit();

        if (exit)
        {
            await OnReturn.InvokeAsync();
        }
    }

    private async Task<bool> ConfirmExit()
    {
        var options = new DialogOptions { CloseButton = true, NoHeader = true };
        var parameters = new DialogParameters<ConfirmDialog>();

        parameters.Add(dialog => dialog.Message, "Los cambios no guardados se perderan. ¿Desea continuar?");

        var dialog = await DialogService.ShowAsync<ConfirmDialog>("", parameters, options);
        var result = await dialog.Result;

        if (result is not null && !result.Canceled)
        {
            await ReleaseToken();
        }

        return result is not null && !result.Canceled;
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        if (_succesfulPurchase)
        {
            return;
        }

        var exit = await ConfirmExit();

        if (!exit)
        {
            context.PreventNavigation();
        }

        // TODO: Figure out how to release token and seats if user closes the page (tab, browser)
    }

    private async Task ReleaseToken()
    {
        // TODO: make sure token is released in seats.io before leaving this method
        try
        {
            var token = await AdminClient.ReleaseHoldSeatsAsync(CartState.HoldToken);
        }
        catch (Exception)
        {
        }
        finally
        {
            CartState.ClearToken();
        }
    }

    private async void ClearAmounts()
    {
        _request.CardAmount = null;
        _request.CashAmount = null;
        _request.DolarAmount = null;
        _request.CreditAmount = null;
        _request.OtherAmount = null;
    }

    private async void SetAllCash()
    {
        ClearAmounts();
        _request.CashAmount = CartState.TotalPrice;
    }
    private async void SetAllCard()
    {
        ClearAmounts();
        _request.CardAmount = CartState.TotalPrice;
    }
    private async void SetAllDolar()
    {
        // TODO: Do currency conversions
        ClearAmounts();
        _request.DolarAmount = CartState.TotalPrice;
    }

    private async void SetAllCredit()
    {
        ClearAmounts();
        _request.CreditAmount = CartState.TotalPrice;
    }

    private async void SetAllOther()
    {
        ClearAmounts();
        _request.OtherAmount = CartState.TotalPrice;
    }

    private async Task Submit()
    {
        if (_isSubmitting)
            return;

        await _form.Validate();

        if (!_form.IsValid)
        {
            return;
        }

        _isSubmitting = true;
        LoadingState.Show();

        var request = new BookingRequest
        {
            Seats = CartState.SelectedSeats.Select(x => x.SeatId).ToList(),
            HoldToken = CartState.HoldToken,
            EventId = EventKey
        };

        try
        {
            var result = await AdminClient.BookSeatsAsync(request);

            Snackbar.Add(Localizer["Seats_PaymentSuccess"], configure: c =>
            {
                c.SnackbarVariant = Variant.Text;
                c.Icon = Icons.Custom.Uncategorized.AlertSuccess;
                c.IconColor = Color.Success;
            });

            _succesfulPurchase = true;
            CartState.ClearCart();
            CartState.ClearToken();

            Navigation.NavigateTo("/events");
        }
        catch (Exception ex)
        {
            Snackbar.Add(Localizer["Seats_PaymentError"], MudBlazor.Severity.Error);
            await ReleaseToken();
            await OnReturn.InvokeAsync();
        }
        finally
        {
            _isSubmitting = false;
            LoadingState.Hide();
        }
    }

    public void Dispose()
    {
        CartState.OnChange -= StateHasChanged;
    }

    public class BookingForm()
    {
        public string? TicketType { get; set; } = "Boleto";
        public string? DeliveryType { get; set; } = "Impreso";
        public bool AcceptTermsAndConditions { get; set; } = false;
        // public EventClientForm ClientContact { get; set; } = new();
        // public PaymentInfoRequest PaymentInfoForm { get; set; } = new();
        public string? CountryPhoneISO { get; set; }
        public string? PhoneNumber { get; set; }
        public string? Email { get; set; }
        public string? FullName { get; set; }
        public string? City { get; set; }
        public string? Neighborhood { get; set; }
        public string? Gender { get; set; }
        public decimal? CardAmount { get; set; }
        public decimal? CashAmount { get; set; }
        public decimal? DolarAmount { get; set; }
        public decimal? CreditAmount { get; set; }
        public decimal? OtherAmount { get; set; }
    }

    public class EventClientForm()
    {
        public string? CountryPhoneISO { get; set; }
        public string? PhoneNumber { get; set; }
        public string? Email { get; set; }
        public string? FullName { get; set; }
        public string? City { get; set; }
        public string? Neighborhood { get; set; }
        public string? Gender { get; set; }
    }

    public class PaymentInfoForm()
    {
        public decimal? CardAmount { get; set; }
        public decimal? CashAmount { get; set; }
        public decimal? DolarAmount { get; set; }
        public decimal? CreditAmount { get; set; }
        public decimal? OtherAmount { get; set; }
    }

    public class BookingFormFluentValidator : AbstractValidator<BookingForm>
    {
        public BookingFormFluentValidator()
        {
            RuleFor(x => x.CountryPhoneISO)
                .NotEmpty().WithMessage("El codigo de país es requerido.");
            RuleFor(x => x.PhoneNumber)
                .NotEmpty().WithMessage("El número de teléfono es requerido.")
                .Matches(@"^\d{10}$").WithMessage("El número de teléfono debe tener 10 dígitos.");
            RuleFor(x => x.Email)
                .NotEmpty().WithMessage("El correo electrónico es requerido.")
                .EmailAddress().WithMessage("El correo electrónico no es válido.");

            RuleFor(x => x.TicketType)
                .NotEmpty()
                .WithMessage("El Tipo de entrada es requerido.");

            RuleFor(x => x.CardAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de tarjeta no puede ser negativo.");
            RuleFor(x => x.CashAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de efectivo no puede ser negativo.");
            RuleFor(x => x.DolarAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto en dólares no puede ser negativo.");
            RuleFor(x => x.CreditAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de crédito no puede ser negativo.");
            RuleFor(x => x.OtherAmount)
                .GreaterThanOrEqualTo(0).WithMessage("El monto de otros métodos no puede ser negativo.");

            RuleFor(x => x.DeliveryType)
                .NotEmpty().WithMessage("Elige método de entrega");
            RuleFor(x => x.AcceptTermsAndConditions)
                .Equal(true).WithMessage("Debes aceptar los términos y condiciones.");
        }

        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(ValidationContext<BookingForm>.CreateWithOptions((BookingForm)model, x => x.IncludeProperties(propertyName)));
            if (result.IsValid)
                return Array.Empty<string>();
            return result.Errors.Select(e => e.ErrorMessage);
        };
    }
}
