@using Odasoft.XBOL.AdminPortal.Resources
@using Odasoft.XBOL.Business
@using XBOL.Models.ViewModels;

@inject AppLocalizer<CreditTransactionDialog> L

<MudDialog Class="py-4 pr-4" ActionsClass="mt-2" TitleClass="pb-2" Style="max-width: 400px;">
    <TitleContent>
        <MudText Typo="Typo.h5">Abonar a crédito</MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField @bind-Value="AmountPaid" T="decimal" Label="Monto pagado" Class="m-2" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                      Margin="Margin.Dense" Variant="Variant.Outlined" ShrinkLabel></MudTextField>

        <MudDatePicker @bind-Date="PaymentDate" Label="Fecha de pago" Class="m-2" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.EditCalendar"
                       Margin="Margin.Dense" Variant="Variant.Outlined" ShrinkLabel> </MudDatePicker>

        <MudSelect @bind-Value="PaymentMethod" T="PaymentType" Label="Método de pago" class="m-2" Margin="Margin.Dense" Variant="Variant.Outlined" ShrinkLabel>
            @foreach (var method in _paymentMethods)
            {
                <MudSelectItem T="PaymentType" Value="@method">
                    <MudText Typo="Typo.body2">@L[method.ToString()]</MudText>
                </MudSelectItem>
            }
        </MudSelect>
    </DialogContent>
    <DialogActions>
        <div class="d-flex justify-center" style="width: 100%;">
            <MudButton StartIcon="@Icons.Material.Filled.Save" Color="Color.Tertiary" Variant="Variant.Filled" OnClick="Submit">Abonar</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter] public string Message { get; set; } = "";

    [Parameter] public decimal AmountPaid { get; set; } = 0m;

    [Parameter] public DateTime? PaymentDate { get; set; } = null;

    [Parameter] public PaymentType PaymentMethod { get; set; }

    private List<PaymentType> _paymentMethods = Enum.GetValues<PaymentType>().ToList();

    private void Submit()
    {
        var result = new CreditTransactionModel
        {
            AmountPaid = AmountPaid,
            PaymentDate = PaymentDate,
            PaymentMethod = PaymentMethod
        };

        MudDialog.Close(DialogResult.Ok(result));
    }

    private void Cancel() => MudDialog.Cancel();
}
