@using Odasoft.XBOL.Business
@using Odasoft.XBOL.Business.Services
@inject AppLocalizer<OrderDetailDialog> L
@inject ISnackbar Snackbar
@inject OrdersService OrdersService;

<MudDialog>
    <TitleContent>
        <MudStack Row AlignItems="AlignItems.Center">
            <MudText Typo="Typo.h5">@Order.Reference</MudText>
        </MudStack>
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Name"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1"><b>@(!string.IsNullOrWhiteSpace(Order.ClientName) ? Order.ClientName : "-")</b></MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Phone"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1">@(!string.IsNullOrWhiteSpace(Order.PhoneNumber) ? Order.PhoneNumber : "-")</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Email"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1">@(!string.IsNullOrWhiteSpace(Order.Email) ? Order.Email : "-")</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["CityNeighborhood"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1">@($"{(!string.IsNullOrWhiteSpace(Order.City) ? Order.City : "-")} / {(!string.IsNullOrWhiteSpace(Order.Neighbourhood) ? Order.Neighbourhood : "-")}")</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Event"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1"><b>@Order.Event</b></MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudTable Items="@Order.Items" Hover="true" Breakpoint="Breakpoint.None" CellClass="border-none px-0 py-2" Elevation="0">
                    <ColGroup>
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh><MudText Color="Color.Primary" Typo="Typo.caption"><b>@L["Zone"]</b></MudText></MudTh>
                        <MudTh><MudText Color="Color.Primary" Typo="Typo.caption"><b>@L["Section"]</b></MudText></MudTh>
                        <MudTh><MudText Color="Color.Primary" Typo="Typo.caption"><b>@L["Seat"]</b></MudText></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="@L["Zone"]">@context.Zone</MudTd>
                        <MudTd DataLabel="@L["Section"]">@context.Section</MudTd>
                        <MudTd DataLabel="@L["Seat"]">@context.Seat</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <div class="flex-grow-1 d-flex justify-space-between pa-3">
            <MudButton StartIcon="@Icons.Material.Filled.Send" OnClick="SendDigitalTicket"
                       Color="Color.Default" Variant="Variant.Outlined" Class="text-uppercase">@L["SendDigitalTicket"]</MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.Print" OnClick="PrintTicket"
                       Color="Color.Secondary" Variant="Variant.Filled" Class="text-uppercase" Disabled>@L["Print"]</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public string OrderReference { get; set; } = string.Empty;

    private OrderRenewalInfoResponse Order = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Order = await OrdersService.FindOrder(OrderReference);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error searching for order: {ex.Message}");
            Snackbar.Add(L["OrderNotFound", OrderReference], Severity.Warning);
            MudDialog.Cancel();
        }
    }

    private Task SendDigitalTicket()
    {
        // TODO: Implement sending digital ticket functionality
        return Task.CompletedTask;
    }

    private Task PrintTicket()
    {
        return Task.CompletedTask;
    }
}
