@using Odasoft.XBOL.Business
@inject AppLocalizer<OrderDetailDialog> L

<MudDialog>
    <TitleContent>
        <MudStack Row AlignItems="AlignItems.Center">
            <MudText Typo="Typo.h5">@Order.TrackingNumber</MudText>
            <MudChip T="string" Class="@GetRenewalTypeColor(Order.LastSeasonRenewalType)" Size="Size.Small">
                @L[Order.LastSeasonRenewalType.ToString()]
            </MudChip>
        </MudStack>
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Name"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1"><b>@Order.ClientName</b></MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Phone"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1">@Order.PhoneNumber</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Email"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1">@Order.Email</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["CityNeighborhood"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1">@Order.CityNeighborhood</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudStack>
                    <MudText Class="text-primary-darken" Typo="Typo.caption"><b>@L["Event"]</b></MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1"><b>@Order.EventName</b></MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudTable Items="@Order.Tickets" Hover="true" Breakpoint="Breakpoint.None" CellClass="border-none px-0 py-2" Elevation="0">
                    <ColGroup>
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh><MudText Color="Color.Primary" Typo="Typo.caption"><b>@L["Zone"]</b></MudText></MudTh>
                        <MudTh><MudText Color="Color.Primary" Typo="Typo.caption"><b>@L["Section"]</b></MudText></MudTh>
                        <MudTh><MudText Color="Color.Primary" Typo="Typo.caption"><b>@L["Seat"]</b></MudText></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="@L["Zone"]">@context.Zone</MudTd>
                        <MudTd DataLabel="@L["Section"]">@context.Section</MudTd>
                        <MudTd DataLabel="@L["Seat"]">@context.Seat</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <div class="flex-grow-1 d-flex justify-space-between pa-3">
            <MudButton StartIcon="@Icons.Material.Filled.Send" OnClick="SendDigitalTicket"
                       Color="Color.Default" Variant="Variant.Outlined" Class="text-uppercase">@L["SendDigitalTicket"]</MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.Print" OnClick="PrintTicket"
                       Color="Color.Secondary" Variant="Variant.Filled" Class="text-uppercase">@L["Print"]</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    public OrderInfo Order { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Order = new()
            {
                Id = 1,
                ClientName = "Juan Antonio Pérez López",
                PhoneNumber = "+1 (61) 1245-6789",
                Email = "juanperez@gmail.com",
                CityNeighborhood = "San Diego / Downtown",
                EventName = "Pase de Temporada CL2026",
                TrackingNumber = "CAL178700",
            Tickets = [new() { Zone = "Platea", Section = "Platea D", Seat = "Platea D-A-1" }, new() { Zone = "Platea", Section = "Platea D", Seat = "Platea D-A-2" }, new() { Zone = "Platea", Section = "Platea D", Seat = "Platea D-A-3" }, new() { Zone = "Platea", Section = "Platea D", Seat = "Platea D-A-4" }]
            };
    }

    private Task SendDigitalTicket()
    {
        return Task.CompletedTask;
    }

    private Task PrintTicket()
    {
        return Task.CompletedTask;
    }

    private static string GetRenewalTypeColor(SeasonPassRenewalType? status) => status switch
    {
        SeasonPassRenewalType.New => "text-secondary",
        SeasonPassRenewalType.Renewal => "bg-primary-lighten text-warning",
        SeasonPassRenewalType.Replacement => "bg-tertiary-lighten text-tertiary-darken",
        _ => string.Empty
    };

    public class OrderInfo
    {
        public double Id { get; set; }
        public string TrackingNumber { get; set; }
        public string ClientName { get; set; }
        public string PhoneNumber { get; set; }
        public string Email { get; set; }
        public string CityNeighborhood { get; set; }
        public string EventName { get; set; }
        public SeasonPassRenewalType LastSeasonRenewalType { get; set; }
        public IEnumerable<TicketInfo> Tickets { get; set; }
    }

    public class TicketInfo
    {
        public string Zone { get; set; }
        public string Section { get; set; }
        public string Seat { get; set; }
    }

    public enum SeasonPassRenewalType
    {
        New,
        Renewal,
        Replacement
    }
}
